
<html>
    <head>
        <title>SocketIO Demo</title>
        <!---
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        -->
        <!---
        <script type="text/javascript" src="//cdn.bootcss.com/ajax/libs/socket.io/2.4.0/socket.io.min.js"></script>
        <script type="text/javascript" src="//cdn.bootcss.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        -->
        <script type="text/javascript" src="{{url_for('static', filename='socket.io.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='jquery.min.js')}}"></script>
    </head>
    <body>
        <script type="text/javascript">
            $(document).ready(function(){
                let namespace = '/shell';
                // let socket_url = location.protocol + '//' + document.domain + ':' + location.port;
                let socket_url = location.protocol + '//' + document.domain + ':' + location.port + namespace;
                console.log('ConsoleLog: %s', socket_url);

                let socket = io.connect(socket_url);
                console.log('ConsoleLog: socket is ready!');

                socket.on('connect', function(){
                    socket.send('Client has connected!');
                    console.log('ConsoleLog: Client has connected!');
                });

                socket.on('message', function(msg){
                    document.getElementById('output').append('<li>' + msg + '</li>');
                    console.log('Received message: %s', msg);
                });

                socket.on('server_response', function(res){
                    console.log('Received response: %s', res);
                });

                document.getElementById('send_button').addEventListener('click', function(){
                    let msg = document.getElementById('input').value;
                    console.log('Send request: %s', msg);
                    socket.emit('command', msg);
                });

                socket.on('disconnect', function () {
                    socket.send('Client has disconnected!');
                    console.log('ConsoleLog: Client has disconnected!');
                })
            });
        </script>
        <input type="text" id="input">
        <button id="send_button">Send</button>
        <ul id="output"></ul>
    </body>
</html>



